{% extends 'layout.html.twig' %}
{% block stylesheet %}

{% endblock %}

{% block content %}
    <section class="admin row w-100">
    <nav class="col-1 ml-1">
        <div class="link nav flex-column" id="v-pills-tab" aria-orientation="vertical">
            <a class="nav-link {{ active == 'home' ? 'active' : ''}}" id="v-pills-home-tab" href="/admin/home/" role="tab" aria-controls="v-pills-home" aria-selected="{{ active == 'home' ? 'true' : 'false'}}">Accueil</a>
            <a class="nav-link {{ active == 'biography' ? 'active' : ''}}" id="v-pills-biography-tab"  href="/admin/biography/" role="tab" aria-controls="v-pills-biography" aria-selected="{{ active == 'biography' ? 'true' : 'false'}}">Biographie</a>
            <a class="nav-link {{ active == 'artworks' ? 'active' : ''}}" id="v-pills-artworks-tab" href="/admin/artworks/" role="tab" aria-controls="v-pills-artworks" aria-selected="{{ active == 'artworks' ? 'true' : 'false'}}">Oeuvres</a>
            <a class="nav-link {{ active == 'association' ? 'active' : ''}}" id="v-pills-association-tab" href="/admin/association/" role="tab" aria-controls="v-pills-association" aria-selected="{{ active == 'association' ? 'true' : 'false'}}">Association</a>
        </div>
    </nav>
        <div class="container col-10">
            {% block admin %}

            {% endblock %}
        </div>
    </section>
{% endblock %}

{% block javascript %}

{% endblock %}