{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block content %}
    <nav class="leftNavBar h-80 col-11 col-xl-1 m-0 position-fixed pt-5">
        <div class="leftNavLinks h-100 d-flex flex-xl-column link nav justify-content-xl-around justify-content-around align-items-stretch" id="v-pills-tab" aria-orientation="vertical">
            <a class="leftNavLink nav-link btn {{ active == 'home' ? 'active' : ''}}"
               id="v-pills-home-tab" href="/HomeAdmin/Index" role="tab" aria-controls="v-pills-home" aria-selected="{{ active == 'home' ? 'true' : 'false'}}">Accueil</a>
            <a class="leftNavLink nav-link btn {{ active == 'biography' ? 'active' : ''}}"
               id="v-pills-biography-tab"  href="/BiographyAdmin/Index" role="tab" aria-controls="v-pills-biography" aria-selected="{{ active == 'biography' ? 'true' : 'false'}}">Biographie</a>
            <a class="leftNavLink nav-link btn {{ active == 'artworks' ? 'active' : ''}}"
               id="v-pills-artworks-tab" href="/ArtworksAdmin/Index" role="tab" aria-controls="v-pills-artworks" aria-selected="{{ active == 'artworks' ? 'true' : 'false'}}">Oeuvres</a>
            <a class="leftNavLink nav-link btn {{ active == 'association' ? 'active' : ''}}"
               id="v-pills-association-tab" href="/AssociationAdmin/Index" role="tab" aria-controls="v-pills-association" aria-selected="{{ active == 'association' ? 'true' : 'false'}}">Association</a>
        </div>
    </nav>
    <section class="admin row w-lg-100">
        <div class="container-xl col-lg-12">
            {% block admin %}

            {% endblock %}
        </div>
    </section>
{% endblock %}

{% block javascript %}
{% endblock %}