{% extends 'BiographyAdmin/index.html.twig' %}
{% block AditionalContent %}
    <tr></tr>
    <form action="/BiographyAdmin/Edit/{{ biography.id }}#{{ biography.id }}" method="post" id="formEdit"></form>
    <tr class="cell" id="{{ biography.id }}">
        <td class="yearValue">
            <form id="formEdit">
                <label for="year" hidden></label>
                <input type="number" name="year" id="year" value="{{ post is empty ? year : post.year }}" form="formEdit">
            </form>
        </td>
        {{ dump(post) }}
        <td>
            <form class="cellinfo" id="formEdit">
                <label for="biography" hidden></label>
                <textarea name="biography" id="biography" form="formEdit">{{ post is empty ? biography.info|nl2br : post.biography|nl2br }}</textarea>
            </form>
        </td>
        <td class="admArtLink">
            <input type="hidden" name="control" value="add" id="add">
            <button class="btn" form="formEdit"><i class="fas fa-check"></i></button>
            <a class="btn" href="/BiographyAdmin/Index"><i class="fas fa-times"></i></a>
        </td>
    </tr>
    {% if errors.year is defined %}
        {% for error in errors.year %}
            <tr class="error">
                <td colspan="4">{{ error }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if errors.biography is defined %}
        {% for error in errors.biography %}
            <tr class="error">
                <td colspan="4">{{ error|nl2br }}</td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}