<div class="card-deck">
    {% set card = 0 %}
    {% for artwork in artworks %}
    <div class="card">
        {% if card is even %}
        <a href="/Artworks/single/{{ artwork.id }}">
            <img src="/assets/upload/{{ artwork.image }}" class="card-img-top" alt="{{ artwork.image }}">
        </a>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                {{ artwork.name }}
            </h5>
            <p class="card-text">
                {{ artwork.description|length>250 ? artwork.description|slice(0,250) ~ '…' : artwork.description }}
            </p>
            <div class="card-text link">
                <div>
                    <a href="/artworks/select/{{ artwork.ID }}">
                            {{ artwork.category|upper }}
                    </a>
                </div>
                <div>
                    <a href="/artworks/period/{{ artwork.date|date("Y") }}">
                        {{ artwork.date|date("Y") }}
                    </a>
                </div>
            </div>
        </div>
        {% if card is odd %}
            <a href="/Artworks/single/{{ artwork.id }}">
                <img src="/assets/upload/{{ artwork.image }}" class="card-img-top" alt="{{ artwork.image }}">
            </a>
        {% endif %}
    </div>
    {%  set card=card+1 %}
    {% endfor %}
</div>
