<?php
// connection à la base

// random sur chaque type d'oeuvre

// sortie tableau
?>
<div class="card-deck">
    <div class="card">
        <img src="https://via.placeholder.com/150x150.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                {{ date }}Titre
            </h5>
            <p class="card-text">
                {{ date }} Debut du text explicatid ed l'oeuvre
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="#">
                        {{ text }} Peinture sur toile
                    </a>
                </small>
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="#">
                        {{ date }} 1939
                    </a>
                </small>
            </p>
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150x150.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                {{ date }}Titre
            </h5>
            <p class="card-text">
                {{ date }} Debut du text explicatid ed l'oeuvre
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="#">
                        {{ text }} Peinture sur toile
                    </a>
                </small>
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="#">
                        {{ date }} 1939
                    </a>
                </small>
            </p>
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150x150.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                {{ date }}Titre
            </h5>
            <p class="card-text">
                {{ date }} Debut du text explicatid ed l'oeuvre
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="#">
                        {{ text }} Peinture sur toile
                    </a>
                </small>
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="#">
                        {{ date }} 1939
                    </a>
                </small>
            </p>
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150x150.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                {{ date }}Titre
            </h5>
            <p class="card-text">
                {{ date }} Debut du text explicatid ed l'oeuvre
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="#">
                        {{ text }} Peinture sur toile
                    </a>
                </small>
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <a href="#">
                        {{ date }} 1939
                    </a>
                </small>
            </p>
        </div>
    </div>
</div>
</body>
</html>