{% extends 'Admin/index.html.twig' %}
{% block admin %}

    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/association.css">
    {% endblock %}

    <div class="container container-admin">
        <div class="row admin-top justify-content-between">
            <div class="card card-responsive-admin-top col-md-3">
                <div class="card-body card-admin contact-card">
                    <h3 class="card-title  contact-roger">infos</h3>
                    <p class="card-text-admin-bis"><i class="fas fa-phone"></i> {{ association.numberphone }}</p>
                    <p class="card-text-admin"><i class="fas fa-at"></i> {{ association.email }}</p>
                    <p class="card-text-admin-bis"><i class="fas fa-map-marker-alt"></i> {{ association.address }}</p>
                </div>

            </div>
           <div class="col-md-5 card-responsive-admin info-title-admin">
               <p>titre</p>
               <h2>{{ association.title }}</h2>

           </div>
            <div class="col-md-3 ">
                <img src="/assets/upload/{{ association.image }}" class=" card-img-top"
                     alt="Photo de Roger toulouse">
            </div>

        </div>
        <div class="row">
            <div class="admin-bottom"><h2>Description</h2>
                <p class="text-admin">{{ association.text|nl2br }}</p>
            </div>

        </div>
        <div class="row button">
            <a href="/AssociationAdmin/update" class="btn"> <i class="fas fa-edit"></i></a>
        </div>
    </div>

{% endblock %}