<div class="artwork">
    <div class="card-deck artworks">
        {% for artwork in artworks %}
            <div class="card">
                    <div>
                        <a href="/Artworks/single/{{ artwork.id }}">
                            <img src="/assets/upload/{{ artwork.image }}" class="card-img-top" alt="{{ artwork.category ~ ' : ' ~ artwork.name }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            {{ artwork.name }}<br/>{{ artwork.date|date("Y") }}
                        </div>
                        <div class="card-text">
                            {{ artwork.description }}
                        </div>
                        <div class="card-info">
                            {{ artwork.size }} <br> {{ artwork.more_info|nl2br }}
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
</div>
