{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Artworks/select.html.twig' %}
    {% include 'Artworks/_errors.html.twig' %}
    {% if artwork is not empty %}
    <div class="bloc_details">
        <div class="title_details">
            <H2>{{ artwork.name }}</H2>
            <img src="/assets/upload/{{ artwork.image }}" Alt="{{ artwork.category ~ ' : ' ~ artwork.name }}">
        </div>
        <div class="descr_detail">
            <div class="logo_theme">
                <div>
                    <img src="/assets/images/{{ artwork.category }}.svg">{{ artwork.category|title }}
                </div>
                <div>
                    <img src="/assets/images/calendar.svg">
                    <a href="../../biography#{{ artwork.date|date("Y") }}"> {{ artwork.date|date("Y") }}</a>
                </div>
            </div>
            <div>
                <info>{{ artwork.more_info }}</info>
            </div>
            <div>
                {{ artwork.description|nl2br }}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
