{% extends 'adminLayout.html.twig' %}

{% block content %}
    {% include 'Artworks/select.html.twig' %}
    {% for artwork in artwork %}
    <div class="bloc_details">
        <div class="title_details">
            <H2>{{ artwork.name }}</H2>
            <img src="/assets/upload/{{ artwork.image }}" Alt="{{ artwork.category ~ ' : ' ~ artwork.name }}">
        </div>
        <div class="descr_detail">
            <h3>{{ artwork.date|date("Y") }}</h3>
            <h3>{{ artwork.category }}</h3>
            <p>{{ artwork.more_info }}</p>
            <p>{{ artwork.description }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
