{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Artworks/select.html.twig' %}
    {% for artwork in artworks %}
    <div class="bloc_details">
        <div class="title_details">
            <H2>{{ artwork.name }}</H2>
            <img src="/assets/upload/{{ artwork.image }}" Alt="{{ artwork.category ~ ' : ' ~ artwork.name }}">
        </div>
        <div class="descr_detail">
            <h3><img src="/assets/images/{{ artwork.category }}.svg">{{ artwork.category|title }}<br><img src="/assets/images/calendar.svg">{{ artwork.date|date("Y") }}</h3>
            <p>{{ artwork.more_info }}</p>
            <p>{{ artwork.description }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
