{% extends 'Admin/index.html.twig' %}
{% block admin %}
<div class="container adminArtworks">
    {% if messages is not empty %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <table>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Année</th>
                <th>Carousel</th>
                <th>Description</th>
                <th>Infos+</th>
                <th>Taille</th>
                <th class="option end" scope="col">
                    <a class="more btn" href="/ArtworksAdmin/add"><i class="fas fa-plus"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for artwork in artworks %}
            <tr>
                <td class="id">{{ artwork.idArtwork }}</td>
                <td><img src="/assets/upload/{{ artwork.image }}" alt="{{ artwork.image }}"></td>
                <td>{{ artwork.name }}</td>
                <td>{{ artwork.category }}</td>
                <td>{{ artwork.date|date("Y") }}</td>
                <td>
                    {% if artwork.carousel == 1 %}
                        <div class="carousel"><i class="fas fa-check"></i></div>
                    {% endif %}
                </td>
                <td>
                    <div class="relative">
                        <div>{{ artwork.description }}</div>
                    </div>
                </td>
                <td>{{ artwork.more_info }}</td>
                <td>{{ artwork.size }}</td>
                <td>
                    <a class="btn" href="/ArtworksAdmin/update/?idArtwork={{ artwork.idArtwork }}"><i class="fas fa-edit"></i></a>
                    <a class="btn" href="/ArtworksAdmin/preDelete/?idArtwork={{ artwork.idArtwork }}"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
