{% extends 'Admin/index.html.twig' %}
{% block admin %}
    <div class="adminArtworks">
    <table>
        <thead>
            <tr>
                <td class="id">ID</td>
                <td>Image</td>
                <td>Titre</td>
                <td>Type</td>
                <td>Année</td>
                <td>Carousel</td>
                <td>Description</td>
                <td>Infos+</td>
                <td>Taille</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
    {% for artwork in artworks %}
        <tr>
            <td class="id">{{ artwork.idArtwork }}</td>
            <td><img src="/assets/upload/{{ artwork.image }}" alt=""></td>
            <td>{{ artwork.name }}</td>
            <td>{{ artwork.category }}</td>
            <td>{{ artwork.date|date("Y") }}</td>
            <td>
                {% if artwork.carousel == 1 %}
                    <div class="carousel">CAR</div>
                {% endif %}
            </td>
            <td>{{ artwork.description }}</td>
            <td>{{ artwork.more_info }}</td>
            <td>{{ artwork.size }}+</td>
            <td class="admArtLink">
                <div>
                    <a href="">MODIFIER</a>
                </div>
                <div>
                    <a href="">SUPPRIMER</a>
                </div>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
