<form method="post" class="adminNews d-flex text-center">
    <div class="form-group">
        <input type="hidden" value="{{ new.id }}" name="id">
    </div>
    <table>
        <tr>
            <thead>
            <td>Titre</td>
            <td>Description de l'actu</td>
            <td>Description du bouton</td>
            <td>Lien du bouton</td>
            <td>Action</td>
            </thead>
        </tr>
        <tr>
            <td>
                <label for="title"></label>
                <input placeholder="ex: Expositions" type="text" value="{{ new.title }}" name="title" id="title">
                {% if errors.title %}
                    <div class="text-danger">{{ errors.title }}</div>
                {% endif %}
            </td>
            <td>
                <label for="desc"></label>
                <input placeholder="ex : Les prochaines expositions seront ...." type="text" value="{{ new.desc }}"
                       name="desc" id="desc">
                {% if errors.desc %}
                    <div class="text-danger">{{ errors.desc }}</div>
                {% endif %}
            </td>
            <td>
                <label for="button"></label>
                <input placeholder="ex : Voir les prochaines expos" type="text" value="{{ new.button }}" name="button"
                       id="button">
                {% if errors.button %}
                    <div class="text-danger">{{ errors.button }}</div>
                {% endif %}
            </td>
            <td c>
                <label for="button_link"></label>
                <input placeholder="ex : http://www.orleans-metropole.fr/" type="text" value="{{ new.button_link }}"
                       name="button_link" id="button_link">
                {% if errors.button_link %}
                    <div class="text-danger">{{ errors.button_link }}</div>
                {% endif %}
            </td>
            <td>
                <div>
                    <input type="submit" value="Valider" class="">
                </div>
            </td>
        </tr>
    </table>
</form>
