{% extends 'Admin/index.html.twig' %}

{% block admin %}
    <div class="adminNews">
        <table>
            <thead>
            <tr>
                <td class="id">ID</td>
                <td>Titre</td>
                <td>Desc</td>
                <td>Desc. Bouton</td>
                <td>Lien Bouton</td>
                <td>
                    <a href="/HomeAdmin/add/">
                        <div class="btn">AJOUTER</div>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for new in news %}
                <tr>
                    <td class="id">{{ new.id }}</td>
                    <td>{{ new.title }}</td>
                    <td>{{ new.desc }}</td>
                    <td>{{ new.button }}</td>
                    <td>{{ new.button_link }}</td>
                    <td>
                        <form action="/HomeAdmin/edit/{{ new.id }}" method="post">
                            <input type="submit" value="EDITER" class="btn">
                        </form>
                        <form action="/HomeAdmin/delete/" method="post">
                            <input name="action" value="delete" hidden>
                            <input name="id" value="{{ new.id }}" hidden>
                            <input type="submit" value="SUPPRIMER" class="btn">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



