{% extends 'layout.html.twig' %}

{% block content %}
    <div class="homeadmin">
        <div class="container">
            <h1>{{ new.title }}</h1>
        </div>
        <div class="show">  {{ new.title }} </div>
        <div class="show">  {{ new.desc }}</div>
        <div class="show">  {{ new.button }}</div>
        <div class="show">  {{ new.button_link }}</div>
        <a href="/HomeAdmin/edit/{{ new.id }}">Edit</a>
        <a href="/HomeAdmin/delete/{{ new.id }}">Supprimer</a>
        <a href="/HomeAdmin/index">Back</a>
    </div>
{% endblock %}
