{% extends 'layout.html.twig' %}

{% block content %}
    <div class="homeadmin">
    <div class="container">
        <h1>{{ new.title }}</h1>
    </div>
    <p> {{ new.title }} <br>
        {{ new.desc }} <br>
        {{ new.button }} <br>
        {{ new.button_link }}</p>
    <a href="/HomeAdmin/edit/{{ new.id }}">Edit</a>
    <a href="/HomeAdmin/delete/{{ new.id }}">Supprimer</a>
    <a href="/HomeAdmin/index">Back</a>
    </div>
{% endblock %}
