{% extends 'layout.html.twig' %}
{% block title %}Association{% endblock %}
 {% block stylesheet %}
     <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet'/>
     <link rel="stylesheet" href="/assets/css/association.css">
 {% endblock %}
{% block content %}

    <div class="container-fluid top_page">
        <h1>Les Amis de Roger Toulouse</h1>
        <div class="row">
            <h2 class="col subhead">{{ association.title }}</h2>
        </div>
        <div class="row justify-content-around">
            <div class="card_text col-md-7">
                <div class="card-body assoc_text">
                    <p>{{ association.text|nl2br }}</p>
                </div>
            </div>
            <div class="col-md-2 roger ">
                <div class="card ">
                    <div class="card-body img-roger">
                        <h3 class="card-title">Roger Toulouse</h3>
                    </div>
                    <img src="/assets/images/{{ association.image }}" class="card-img-top"
                         alt="Photo de Roger toulouse">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h2 class="contact_title" id="contact">Contactez-nous</h2>
        </div>
    </div>
    <div class="bottom-page container-fluid">
        <div class="row  justify-content-around ">
            <div class="card  col-md-3">
                <div class="card-body contact-card">
                    <h3 class="card-title contact-roger">contact</h3>
                    <p class="card-text"><i class="fas fa-phone"></i> {{ association.numberphone }}</p>
                    <p class="card-text"><i class="fas fa-at"></i> {{ association.email }}</p>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ association.address }}</p>
                </div>
            </div>
            <div class="form col-md-4">
                <form method="POST" action="/Association/Index">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="name@example.com" value="{{ post is empty ? '' : post.email }}" required>
                        <div class="error">{{ errors.emailEmpty is null ? '' : errors.emailEmpty }}</div>
                        <div class="error">{{ errors.emailInvalid is null ? '' : errors.emailInvalid }}</div>
                    </div>
                    <div class="form-group">
                        <label for="object">Objet</label>
                        <input type="text" name="object" class="form-control" id="message"
                               placeholder="Demande de renseignements " value="{{ post is empty ? '' : post.object }}"
                               required>
                        <div class="error">{{ errors.object is null ? '' : errors.object }}</div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="message" id="message" rows="3"
                                  required
                                  placeholder="Quand aura lieu la prochaine exposition sur l'artiste ">{{ post is empty ? '' : post.message|nl2br }}</textarea>
                        <div class="error">{{ errors.message is null ? '' : errors.message }}</div>
                    </div>
                    <button class="btn">Envoyer !</button>
                    <div class="success">{{ get is null ? '' : 'Votre message a bien été transmit' }}</div>
                </form>
            </div>
            <div id='map' class="col-md-3 map"></div>
            <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
            <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoidG9iZWNvbnRpbnVlZCIsImEiOiJjazlkN2l2OTIwMG42M2VraG52NDl6YzF4In0.imlbzYxIzJhCTHijAYORYA';
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [1.9190940856933594, 47.900421142578125],
                    zoom: 12
                });
                var marker = new mapboxgl.Marker()
                    .setLngLat([1.9190940856933594, 47.900421142578125])
                    .addTo(map);
            </script>
        </div>
    </div>
{% endblock %}