<form method="post">
    <input type="hidden" value="{{ news.id }}" name="id">
    <input type="text" value="{{ news.title }}. {{ news.desc }} .  {{ news.button }} . {{ news.button_link }}" name="title">
    <input type="submit" value="Valider">
</form>
